@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-wwealty-dark: #0f2e26;
  --color-wwealty-light: #f3f4f6;
  --color-wwealty-teal: #1e9b8b;
  --color-wwealty-green: #10b981;
  
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-wwealty-light text-slate-800 antialiased;
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white border border-slate-100 shadow-sm rounded-2xl;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
